@import './reset.scss';

html,
body {
  width: 100%;
  height: 100%;
}


/*

  fu:

    display: flex;
    flex-di
    just
    ali
    flex-wrap: wrap;

  zi:
    flex:1  

  水平放向：
     space-between 没有padding  
     space-around  有padding  
     center;
     flex-start;
     flex-end:

  justify-content: ; 

*/

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.header {
  width: 100%;
  height: 45px;
  background: red;
  display: flex;
  justify-content: space-between; // 左右两边有padding 排开
  padding-left:2%;
  padding-right:2%; 
  align-items: center;

  span {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {

  flex: 1;
  width: 100%;
  overflow: auto;
}

// canrousel
.swiper-container {
  width: 90%;
  overflow-x:scroll;
  height: 150px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 5px;

  .swiper-wrapper {
    width: 300%;
    height: 100%;

    .swiper-slide {
      width: 33.3%;
      height: 100%;
      float: left;
      border:1px dashed blue;
    }
  }
}

// icon
.icon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  ul {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li:nth-child(1) {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border:1px solid black;
    }
    li:nth-child(2) {
      width: 100%; 
      height: 25px;
      text-align: center;
      line-height: 25px;
    }
  }
}

.footer {
  width: 100%;
  height: 45px;
  background: red;
}