html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

/* 750-> 1rem = 100px  375-> 1rem = 50px */
.header .left, .header .right, .icon-box .item li, .nav span, .nav-content .nav-item .left, .footer .item li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.42667rem;
}

.header {
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  background: #000;
  color: #fff;
}

.main {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.content {
  width: 100%;
  background: #F8FCF7;
}

.swiper-box {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 3.2rem;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.icon-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.13333rem 0;
}

.icon-box .item {
  width: 20%;
  height: 2.26667rem;
}

.ad-box {
  width: 100%;
  height: 2.66667rem;
  background: url("../img/ad.png") no-repeat;
  background-size: 99% 65%;
  background-position: center;
}

.active {
  color: red;
}

.nav {
  width: 100%;
  height: 0.93333rem;
  display: flex;
}

.nav span {
  flex: 1;
}

.nav-content {
  width: 100%;
}

.nav-content .nav-item {
  width: 100%;
  height: 4.8rem;
  display: flex;
}

.nav-content .nav-item .left {
  flex: 4;
  padding: 2%;
}

.nav-content .nav-item .left img {
  width: 100%;
  height: 100%;
}

.nav-content .nav-item .right {
  flex: 6;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.nav-content .nav-item .right .title {
  text-align: left;
  font-size: 0.53333rem;
  line-height: 0.93333rem;
}

.nav-content .nav-item .right .time {
  text-align: left;
  font-size: 0.32rem;
  line-height: 0.93333rem;
  color: #ccc;
}

.nav-content .nav-item .right .price {
  text-align: left;
  font-size: 0.53333rem;
  color: red;
  line-height: 1.46667rem;
}

.footer {
  width: 100%;
  height: 1.06667rem;
  display: flex;
  background: lightblue;
}

.footer .item {
  flex: 1;
}
