@import './reset.scss';


html,
body {
  width: 100%;
  height: 100%;
}

/* 
  
父：
  display: flex; // 开启弹性盒子 加在父元素上 默认横排
  flex-direction: column; //  加在父元素 改变轴向
    justify-content: center; // 父 水平方向剧中
    align-items: center; // 父
*/


/*

  子： 
  flex:1;
*/

%juzhong {
  display: flex; // 父
  justify-content: center; // 父 水平方向剧中  flex-start: 居左  flex-end 居右边
  align-items: center; // 父  flex-start: 居上  flex-end 居下
}


.wrap {
  width: 100%;
  height: 100%;
  display: flex; // 开启弹性盒子 加在父元素上 默认横排
  flex-direction: column; //  加在父元素 改变轴向

  .box {
    flex: 1; // 分份；
    height: 20px;
    border: 1px solid black;
    @extend %juzhong;
  }
}