@charset "UTF-8";
/*
 .scss  .less  css 编译器     easy sass
*/
/* 引入  必须加分号*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  appearance: none;
  user-select: none;
  text-size-adjust: 100%;
}

/*
 嵌套： 
 一般不超过三层
*/
.wrap {
  width: 100px;
}

.box {
  color: red;
}

.box span {
  display: block;
  width: 50px;
}

.box span a {
  text-align: center;
}

/* 
 变量
*/
.box {
  width: 100px;
  background: red;
  font-size: 30px;
}

/* 
  
继承：
1. 混合宏继承：
2. 占位继承：
*/
/*
  1. 混合宏继承：
   
  传参数
  不穿参数（默认值）

*/
.box2 {
  width: 10px;
  height: 30px;
}

/*
  2. 占位继承：
*/
.box3 {
  text-align: center;
  line-height: 40px;
}

/*
  函数：
*/
.box4 {
  font-size: 60px;
}
