* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.shop-item .goods .left .left-circle, .shop-item .goods .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item .goods .left .left-goods dl dd p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid black;
}

.main {
  flex: 1;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
}

.shop-item {
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  margin-bottom: 5px;
}

.shop-item .goods {
  width: 130%;
  height: 100%;
  display: flex;
}

.shop-item .goods .left {
  flex: 1;
  height: 100%;
  display: flex;
}

.shop-item .goods .left .left-circle {
  flex: 2;
  height: 100%;
}

.shop-item .goods .left .left-circle .circle {
  display: inline-block;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  border: 1px solid black;
}

.shop-item .goods .left .left-goods {
  flex: 8;
  height: 100%;
}

.shop-item .goods .left .left-goods dl {
  width: 100%;
  height: 100%;
  display: flex;
}

.shop-item .goods .left .left-goods dl dt {
  flex: 4;
  height: 100%;
  background: red;
}

.shop-item .goods .left .left-goods dl dd {
  flex: 6;
  height: 100%;
}

.shop-item .goods .left .left-goods dl dd p:nth-child(3) .add {
  display: inline-block;
  width: 0.93333rem;
  height: 0.93333rem;
  background: lightblue;
}

.shop-item .goods .left .left-goods dl dd p:nth-child(3) .remove {
  display: inline-block;
  width: 0.93333rem;
  height: 0.93333rem;
  background: lightblue;
}

.shop-item .goods .right {
  flex: .3;
}

.total {
  width: 100%;
  height: 1.2rem;
  background: lightblue;
}

.footer {
  width: 100%;
  height: 1.2rem;
  border-top: 1px solid black;
}
