//  .scss   .less   css预编译器

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/*
  嵌套： 一般不超过3层
*/
.box {
  width: 100px;
  height: 100px;
}
p {
  color: red;
  span {
    height: 50px;
  }
}

/*
变量
*/ 
$width: 100px;


.box1 {
  width: $width;
}

/* 
 继承：  混合宏   1. 不传参数   2.传参（默认变量）
*/

@mixin width($w:100px, $color:red) {
  width: $w; 
  color: $color;
}

.box2{
  @include width;
}

/* 
  占位继承：
*/


%juzhong {
  text-align: center;
  line-height: 45px;
}

.box3 {
  @extend %juzhong;
}

/*
  
  函数：

*/

@function toRem($font) {
  @return $font * 2
};

.box4 {
  font-size: toRem(40px);
}


/* 
  

 媒体查询：

*/

// 最大宽度480px 一下 适配一个样式：
@media screen and (min-width: 480px) {
   .box5 {
     width: 500px;
     height: 300px;
     span {
       display: block;
       width: 40px;
       height: 40px;
       background: red;
     }
   }
}

/*
  
 要求： 
  1. pc  四块横排
  2. 手机： 竖着排

*/


@media screen and (max-width: 680px) {
   .box6 {
     width: 100%;
     div {
       width: 100%;
       height: 45px;
       border:1px solid black;
       text-align: center;
       line-height: 45px;
       font-size: 30px;
     }
   }
}

@media screen and (min-width: 680px) {
  .box6 {
    width: 100%;
    div {
      width: 25%;
      float: left;
      height: 45px;
      border:1px solid black;
      text-align: center;
      line-height: 45px;
      font-size: 30px;
    }
  }
}


/* 
 
  div: 
  
    float 布局：

    父元素高度塌陷： overflow:hidden:   高度：  

    定位布局：  
      
    position: 

    弹性盒布局：
*/












